.canvas-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  outline: 1px solid red;
  padding: 10px;
  overflow: scroll;
}

.canvas {
  position: relative;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  overflow: visible;
}
