* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 5px;
}

.canvas {
  position: relative;
  overflow: hidden;
  flex: 1;
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; /* to have 5 items in a a row */
  height: fit-content;
  user-select: none;
  cursor: grab;
}

.tile:active {
  cursor: grabbing;
}

.tile:hover .resizer {
  opacity: 1;
}

.resizer {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: rgb(31, 137, 229);
  border-radius: 50%;
  border: 1px solid white;
  user-select: none;
  cursor: auto;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  cursor: se-resize;
}

.resizer:hover {
  background-color: rgb(13, 72, 161);
}

/* <img />, <video /> */
.media {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  z-index: -1;
}

img.media {
  pointer-events: none;
}

.media.unmounted {
  display: none;
}