* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 5px;
}

.canvas {
  position: relative;
  overflow: hidden;
  flex: 1;
  outline: 1px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  position: static;
  width: 20%; /* to have 5 items in a a row */
  height: fit-content;
  cursor: grab;
  user-select: none;
  border: 1px solid blue;
}

.tile.dragged {
  position: absolute;
}

/* <img />, <video /> */
.media {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  border: 1px solid red;
  pointer-events: none;
}

.media.unmounted {
  display: none;
}
  